.search-container {
  margin: 20px 0px 20px 13px;
  width: 92%;
  height: 85px;
  background: #ededed;
  border-radius: 10px;
  display: flex;
}

.search-container .btn-icon {
  color: #fff;
  width: 77px;
  height: 40px;
  background: #00285f;
  border-radius: 0px 5px 5px 0px;
  padding: 0px;
}

.search-container .btn-icon .conteudo {
  visibility: hidden;
}

.search-container .btn-icon .conteudo::after {
  visibility: visible;
  content: 'BUSCAR';
  font-weight: 700;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -40px;
}

.search-container .btn-icon:hover {
  background: #00285f;
  color: #fff;
}

.search-container .btn-icon:focus {
  background: #00285f;
  color: #fff;
}

.search-container-description {
  width: 199px;
  height: 40px;
  position: relative;
  left: 20px;
  top: 21px;
  background: #fff;
  border-radius: 5px 0px 0px 5px;
}

.search-container-description p {
  color: #a7a7a7;
  background: #fff;
  padding: 11px 0px 7px 15px;
  line-height: 16px;
  font-size: 14px;
}

.search-btn-container {
  padding: 21px 0px 10px 20px;
  margin-right: 20px;
}

@media (min-width: 576px) {
  .search-container {
    margin: 30px 0px 30px 22px;
    width: 530px;
    height: 123px;
  }

  .search-container p {
    width: 320px;
  }

  .search-container .btn-icon {
    width: 174px;
    margin-top: 20px;
    padding: 19px 10px 10px 10px;
    display: flex;
    align-items: center;
  }

  .search-container-description {
    margin-top: 20px;
    width: 320px;
  }

  .search-container-description p {
    width: 320px;
  }

  .search-container .btn-icon .conteudo::after {
    top: -8px;
  }
}

@media (min-width: 768px) {
  .search-container {
    margin: 20px 0px 20px 20px;
    width: 720px;
    height: 123px;
  }

  .search-container-description {
    width: 516px;
    margin-top: 20px;
  }

  .search-container p {
    width: 516px;
  }

  .search-container .btn-icon {
    margin-top: 20px;
    width: 164px
  }

}

@media (min-width: 992px) {
  .search-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 96%;
  }

  .search-container-description {
    width: 584px;
    margin-left: 75px;
  }

  .search-container p {
    width: 584px;
  }
}

@media (min-width: 1280px) {
  .search-container {
    width: 83%;
    margin-left: 8.2%;
  }

  .search-container-description {
    width: 60%;
    margin-left: 10%;
  }

  .search-container p {
    width: 584px;
  }
}

@media (min-width: 1400px) {
  .search-container {
    width: 72%;
    margin-left: 230px;
  }

  .search-container-description {
    width: 63%;
    margin-left: 10%;
  }
}
