.home-container {
  padding: 20px 10px 121px 10px;
  text-align: center;
  background-color: #fff;
}

.home-image-container {
  padding: 62px 28px 35px 28px;
}

.home-image-container svg {
  width: 100%;
  margin-bottom: -25px;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 365px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

.home-content-container h1 {
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-bottom: 13px;
}

.home-content-container p {
  width: 251px;
  height: 32px;
  left: 30px;
  top: 372px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.search-button-container {
  height: 125px;
  background-color: #ededed;
  border-radius: 10px;
  margin-top: 21px;
}

.search-button-container h1 {
  font-size: 18px;
  color: #585858;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 9px;
}

.search-button-container .btn-icon {
  width: 175px;
  height: 40px;
  background: #00285f;
  border-radius: 5px;
  margin-top: 20px;
}

.search-button-container .btn-icon:hover {
  background: #00285f;
}

.search-button-container .btn-icon:focus {
  background: #00285f;
}

.search-button-container p {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 576px) {
  .home-card {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .home-image-container svg {
    width: 333px;
    margin-bottom: -10px;
  }

  .home-content-container p {
    font-size: 18px;
    line-height: 21px;
    width: 420px;
  }

  .home-content-container h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }

  .search-button-container {
    margin-top: 30px;
    background-color: #ededed;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .search-button-container p {
    margin-top: 5px;
  }

  .search-button-container .btn-icon {
    margin-top: 0;
    margin-left: 85px;
  }

  .search-button-container h1 {
    margin-top: 0;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .home-card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    min-height: 579px;
  }

  .home-image-container svg {
    position: absolute;
    width: 455px;
    height: 272px;
    left: 268px;
    top: 182px;
  }

  .home-content-container h1 {
    position: absolute;
    width: 420px;
    height: 42px;
    left: 294px;
    top: 471px;
  }

  .home-content-container p {
    position: absolute;
    width: 420px;
    height: 42px;
    left: 277px;
    top: 513px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    min-height: 365px;
    min-width: 979px;
  }

  .home-content-container h1 {
    display: flex;
    align-items: center;
    top: 250px;
    left: 200px;
    font-size: 36px;
    line-height: 42px;
  }

  .home-content-container p {
    top: 300px;
    left: 200px;
    text-align: left;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
    left: 690px;
    top: 200px;
  }

  .search-button-container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1400px) {
  .home-card {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }

  .home-content-container h1 {
    display: flex;
    align-items: center;
    width: 50%;
    top: 250px;
    left: 200px;
    font-size: 36px;
    line-height: 42px;
  }

  .home-content-container p {
    width: 50%;
    top: 300px;
    left: 200px;
    text-align: left;
  }

  .home-image-container svg {
    width: 50%;
    height: 30%;
    left: 750px;
    top: 150px;
  }

}
